.navbar {
    background: $CARD-WHITE;

    .navbar-brand {
        color: $MEDICAL-BLUE;
        font-weight: $font-weight-bold;

        img {
            width: 22px;
        }
    }

    .nav-link {
        color: $TEXT-LIGHT;
        margin: 0 map-get($spacers, 3);
        font-weight: $font-weight-normal;

        &.active,
        &:hover {
            color: $MEDICAL-BLUE;
        }
    }

    .register-btn {
        background: $MEDICAL-BLUE;
        color: $white;
        border-radius: $border-radius-pill;
        padding: .7rem 2.3rem;

        &:hover {
            background: $MEDICAL-BLUE;
            color: $white;
        }
    }
}

.hero-image {
    width: 450px;
    height: auto;
    position: relative;
    margin: auto;
}

.hero-image img {
    width: 430px;
    height: 340px;
    object-fit: cover;
    display: block;
    border-radius: 1.25rem;
}


/* Top Card */
.top-card {
    position: absolute;
    top: -55px;
    right: -90px;
    width: 250px;
    height: 85px;
    border-radius: 1rem;
    z-index: 2;
}


/* Bottom Card */
.bottom-card {
    position: absolute;
    left: -25px;
    bottom: -5px;
    width: 250px;
    height: 95px;
    border-radius: 1rem;
    z-index: 2;
}

.learn-btn,
.learn-btn:focus,
.learn-btn:active,
.learn-btn:visited {
  color: $MEDICAL-BLUE;
}

.learn-btn:hover {
  background-color: $MEDICAL-BLUE;
  border-color: $MEDICAL-BLUE;
  color: $white !important;
}

footer {
    a {
        color: $gray-400;
        text-decoration: none;
        font-size: $font-size-sm;
    }


    a:hover {
        color: $MEDICAL-BLUE;
    }

    .social {
        width: 36px;
        height: 36px;
        background: $MEDICAL-BLUE;
        color: $white;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    
}