.navbar {
    background: $CARD-WHITE;

    .navbar-brand {
        color: $MEDICAL-BLUE;
        font-weight: $font-weight-bold;

        img {
            width: 22px;
        }
    }

    .nav-link {
        color: $TEXT-LIGHT;
        margin: 0 map-get($spacers, 3);
        font-weight: $font-weight-normal;

        &.active,
        &:hover {
            color: $MEDICAL-BLUE;
        }
    }

    .register-btn {
        background: $MEDICAL-BLUE;
        color: $white;
        border-radius: $border-radius-pill;
        padding: .7rem 2.3rem;

        &:hover {
            background: $MEDICAL-BLUE;
            color: $white;
        }
    }
}

.hero-image {
    width: 450px;
    height: auto;
    position: relative;
    margin: auto;
}

.hero-image img {
    width: 430px;
    height: 390px;
    object-fit: cover;
    display: block;
    border-radius: 1.25rem;
}


/* Top Card */
.top-card {
    position: absolute;
    top: -55px;
    right: -105px;
    width: 250px;
    height: 85px;
    border-radius: 1rem;
    z-index: 2;
}


/* Bottom Card */
.bottom-card {
    position: absolute;
    left: -75px;
    bottom: -40px;
    width: 220px;
    height: 95px;
    border-radius: 1rem;
    z-index: 2;
}

.learn-btn,
.learn-btn:focus,
.learn-btn:active,
.learn-btn:visited {
  color: $MEDICAL-BLUE;
}

.learn-btn:hover {
  background-color: $MEDICAL-BLUE;
  border-color: $MEDICAL-BLUE;
  color: $white !important;
}

.text-gray{
    color: #808080;
}


.mySwiper{
padding-bottom:10px;
}

.doctor-card{
background:#f8f8f8;
border-radius:20px;
padding:35px 25px;
height:310px;
}

.icon-circle{
width:56px;
height:56px;
background:#ececec;
border-radius:50%;
display:flex;
justify-content:center;
align-items:center;
color:#2f80ed;
font-size:30px;
margin-bottom:25px;
}

.doctor-card h3{
font-size:32px;
font-weight:600;
margin-bottom:15px;
}

.doctor-card p{
line-height:30px;
margin-bottom:30px;
}

.doctor-card a{
text-decoration:none;

font-weight:500;
}

.custom-btn{
position:static!important;
width:30px!important;
height:30px!important;
border-radius:50%;
margin:0!important;
}

.swiper-button-prev{
background:#d9d9d9;
border-color: #d9d9d9;
color:white!important;
}

.swiper-button-next{
background:#2f80ed;
border-color: #2f80ed;
color:white!important;
}

.swiper-button-prev::after,
.swiper-button-next::after{
font-size:18px!important;
font-weight:bold;
}

.swiper-pagination{
position:static!important;
width:auto!important;
}

.swiper-pagination-bullet{
width:7px;
height:7px;
}

.swiper-pagination-bullet-active{
background:#2f80ed;
}


footer {
    a {
        color: $gray-400;
        text-decoration: none;
        font-size: $font-size-sm;
    }


    a:hover {
        color: $MEDICAL-BLUE;
    }

    .social {
        width: 36px;
        height: 36px;
        background: $MEDICAL-BLUE;
        color: $white;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    
}